endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "server=127.0.0.1;uid=root;password=;database=creative;charset=utf8mb4"
set mysql_transaction_isolation_level 2
set mysql_slow_query_warning 100

ensure vrp
ensure base

ensure chat
ensure sessionmanager
ensure oxmysql

ensure oxdrive
ensure mysql-async
ensure cd_easytime
ensure NativeUI
ensure cinematiccam
ensure pma-voice
ensure PolyZone
ensure logsystem
ensure vehcontrol

ensure webpack
ensure yarn
ensure screenshot-basic
ensure discord-screenshot

# ------------------
# Creative
# ------------------

ensure core
ensure Cockatoos
ensure acoes
ensure animacoes
ensure evidence
ensure admin
ensure creative
ensure barbershop
ensure chest
ensure dismantle
ensure service
ensure premium
ensure paramedic
ensure doors
ensure checkin
ensure dynamic
ensure engine
ensure garages
ensure towdriver
ensure homes
ensure hud
ensure inspect
ensure lscustoms
ensure inventory
ensure keyboard
ensure notebook
ensure notepad
ensure notify
ensure notifycall
ensure notifyitens
ensure player
ensure police
ensure postit
ensure shops
ensure drugs
ensure sounds
ensure helicrash
ensure showme
ensure spawn
ensure eletronics
ensure skinshop
ensure target
ensure taskbar
ensure fts_registradora-master
ensure tackle
ensure robberys
ensure impound
ensure tattoos
ensure animacoes
ensure tencode
ensure trunkchest
ensure vehmenu
ensure progressbar

# ------------------
# Nation
# ------------------

ensure nation_creator
ensure nation_barbershop
ensure nation_tattoos
ensure nation_skinshop

# ------------------
# Animacoes
# ------------------


# ------------------
# Jester
# ------------------



# ------------------
# Warn
# ------------------

ensure wnStaff
ensure wnConce
ensure wnCrafting
ensure wnEmpregos
ensure wnElevador
ensure wnRace
ensure wnRoutes
ensure lsk_jumpscare
ensure wnGroups_creative
ensure wnPresente
ensure wnRecompensas

# ------------------
# CFX
# ------------------

ensure cfx-maps
ensure r34bluedragon

# ------------------
# ADD-ON
# ------------------

ensure eroticaemotes
ensure weapons
ensure add-on

# ------------------
# ANTICHEAT
# ------------------

ensure discord
stop monitor

# ensure ThnAC


sv_scriptHookAllowed 0
sv_endpointprivacy false

sets locale "pt-BR"
sets Ceo "gamboz#0001"
sets website "https://maui-beach.com.br/"
sets Discord "https://discord.gg/maui"
sets tags "vrp"
sets sv_projectName "Base Creative (Warn Nuis)"
sv_hostname "Base Creative (Warn Nuis)"
sets sv_projectDesc "SEASON 1"
load_server_icon logo.png

#sv_master1 ""

# sets banner_detail ""
# sets banner_connecting ""

add_ace group.admin command allow
add_ace group.admin command.quit deny
add_principal identifier.steam:110000153fff3ee group.admin

sv_endpointprivacy false

set sv_enforceGameBuild 3095
set onesync_forceMigration false
set onesync_workaround763185 false
set onesync_distanceCullVehicles false

setr voice_syncData 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

sv_maxclients 5

set steam_webApiKey "1241CEF2067F9A4150BA79492BC61605"
sv_licenseKey "cfxk_1MhJtuPVyLMDe7iXvLjDH_3nX08a"